[Unit]
Description=Meituan Waimai reply bot
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Environment=TZ=Asia/Shanghai
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/meituan-reply-bot
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/ubuntu/meituan-reply-bot/run.sh
Restart=always
RestartSec=10
MemoryAccounting=yes
MemoryMax=2200M

[Install]
WantedBy=multi-user.target
